@import './_reset.css';

[contenteditable]:focus {
  outline: 1px solid #39AAE2;
  padding: 4px 10px;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: #2F3640;
  color: #2F3640;
  scroll-behavior: smooth;
}
